#cursors {
	position:relative;
}

#cursors .cursor{
	position: absolute;
	width: 2px;
	height: 2px;
	background-color: #000000;
}

.cursor {
	font-size: 8px;
	margin-left:3px;
}

#conversation-content {
	float: left;
	width: 20%;
	height: 90%;
	position: absolute;
	overflow: scroll-y;
	padding: 10px;
	float: right;
}

#conversation {
	height: 90%;
	overflow-y: scroll;
}

#data {
	width: 200px;
}

canvas {
	background-image: url("linedpaper.png");
}

body {
	margin: 0;
}